* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }
  html {
    font-size: 10pt;
    line-height: 1.4;
    font-family: 'Aria', sans-serif;
    font-weight: 300;
    background-color: #f2a68d;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    padding: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-transform: uppercase;
  }

  .button {
    font-family: 'Aria', sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #f3dcd4;
    color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #f3dcd4;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover {
    background-color: #555;

}
.content {
    display: inline-block;
    width: 32%;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .img-container li {
    display: inline-block;
    width: 30%;
    height: 600;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
  }
  @media screen and (max-width: 600px) {
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
    .img-container li {
      display: flex;
      width: 100%;
    }
}